<script setup lang="ts">
type Props = {
  icon?: string;
  label: string;
  disabled?: boolean;
  onClick?: () => void;
};

const props = withDefaults(defineProps<Props>(), {
  icon: undefined,
  label: '',
  disabled: undefined,
  onClick: undefined,
});
</script>

<template>
  <div class="rounded bg-primary-500 text-white shadow-sm">
    <button
      class="flex justify-center items-center gap-2 w-full h-full px-4 py-3 font-bold align-middle"
      :class="[props.icon && 'pr-6', disabled && 'opacity-30']"
      :disabled="props.disabled"
      @click="props.onClick"
    >
      <fa v-if="props.icon" :icon="props.icon" />
      {{ props.label }}
    </button>
  </div>
</template>
