<template>
  <div class="flex flex-col justify-center items-center gap-6 h-full">
    <h1 class="text-7xl font-extrabold">404</h1>
    <h2 class="text-2xl">Page Not Found</h2>
    <p class="text-xs text-center">
      The Page you are looking for doesn't exist or an other error occured.<br />Go to
      <a href="/" class="underline">Home Page.</a>
    </p>
  </div>
</template>
