<script setup lang="ts">
import { RouterView } from 'vue-router';
import Layout from '~/layout/Layout.vue';
</script>

<template>
  <Layout>
    <RouterView :key="$route.fullPath" />
  </Layout>
</template>
