<script setup lang="ts"></script>

<template>
  <footer class="flex justify-center items-center h-16 border-t border-gray-200">
    <p class="text-lg font-bold">Copyright (C) 2023 TKITIK CORPORATION. ALL RIGHTS RESERVED.</p>
  </footer>
</template>
