<script setup lang="ts">
import Button from '~/components/Button.vue';
import { useGlobalStore } from '~/store/global';

const { toggleSideNavi } = useGlobalStore();
</script>

<template>
  <nav class="flex justify-between items-center h-16 px-5 border-b border-gray-200">
    <div class="flex items-center gap-4">
      <fa icon="bars" @click="toggleSideNavi" class="h-6 cursor-pointer hover:text-primary-600" />
      <p class="text-2xl">{{ $route.name }}</p>
    </div>
    <div><Button :icon="'home'" :label="'ホームへ'" /></div>
  </nav>
</template>
