<script setup lang="ts">
import Header from '~/layout/Header.vue';
import Footer from '~/layout/Footer.vue';
import SideNavi from '~/layout/SideNavi.vue';
import { useGlobalStore } from '~/store/global';

const globalStore = useGlobalStore();
</script>

<template>
  <div class="flex h-screen">
    <SideNavi />
    <div
      class="flex flex-col w-screen transition-all duration-300"
      :class="[globalStore.isOpenSideNavi ? 'ml-64' : 'ml-16']"
    >
      <Header />
      <main class="flex-grow h-0 bg-gray-100 overflow-auto">
        <slot />
      </main>
      <Footer />
    </div>
  </div>
</template>
