<script setup lang="ts">
import { useGlobalStore } from '~/store/global';

type Props = {
  icon: string;
  label: string;
  path: string;
};

const props = withDefaults(defineProps<Props>(), {
  icon: '',
  label: '',
  path: '',
});
const globalStore = useGlobalStore();
</script>

<template>
  <RouterLink :to="props.path">
    <label
      class="flex items-center gap-3 h-10 my-4 px-6 font-bold hover:text-white"
      :class="[$route.path === path ? 'text-white bg-primary-600' : 'text-primary-500 cursor-pointer']"
    >
      <fa :icon="props.icon" />
      <div
        class="transition-all duration-300 overflow-hidden"
        :class="[
          globalStore.isOpenSideNavi || globalStore.isHoverSideNavi ? 'opacity-100' : '-ml-3 invisible opacity-0',
        ]"
      >
        <p className="leading-6 whitespace-nowrap overflow-hidden">{{ props.label }}</p>
      </div>
    </label>
  </RouterLink>
</template>
