<script setup lang="ts">
import { useGlobalStore } from '~/store/global';
import Menu from '~/layout/Menu.vue';

const globalStore = useGlobalStore();
</script>

<template>
  <aside
    class="fixed flex flex-col h-screen shadow-lg transition-all duration-300"
    :class="[globalStore.isOpenSideNavi || globalStore.isHoverSideNavi ? 'w-64' : 'w-16 z-10']"
    @mouseover="globalStore.isHoverSideNavi = true"
    @mouseleave="globalStore.isHoverSideNavi = false"
  >
    <a href="/" class="flex items-center gap-3 min-w-full h-16 pl-4 bg-white">
      <img src="../assets/img/logo.png" alt="logo" class="h-8" />
      <div
        class="transition-all duration-300 overflow-hidden"
        :class="[
          globalStore.isOpenSideNavi || globalStore.isHoverSideNavi ? 'opacity-80' : '-ml-3 invisible opacity-0',
        ]"
      >
        <img src="../assets/img/logo_txt.png" alt="logo_txt" class="min-w-[10rem] w-40 h-8" />
      </div>
    </a>
    <div class="flex-grow bg-primary-200">
      <Menu icon="home" label="ホーム" path="/" />
      <Menu icon="bars" label="メニュー１" path="/menu1" />
      <Menu icon="bars" label="メニュー２" path="/menu2" />
    </div>
  </aside>
</template>
